<div class="page-header">
  <h3>{{title}}</h3>
  <button *ngIf="id!==0" type="button" class="btn btn-danger delete"
          mwlConfirmationPopover
          [title]="titleB"
          [message]="message"
          placement="left"
          (confirm)="deleteContact(contact)" data-dismiss="modal"
          (cancel)="cancelClicked = true"
          data-toggle="tooltip" title="Elimina">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</div>
<form (ngSubmit)="saveOrUpdateContact()" #f="ngForm">

  <div class="form-group">
    <label for="nome">Nome</label>
    <input class="form-control" id="nome" name="nome"
           [(ngModel)]="contact.nome" required>
  </div>

  <div class="form-group">
    <label for="cognome">Cognome</label>
    <input class="form-control" id="cognome" name="cognome"
           [(ngModel)]="contact.cognome">
  </div>

  <div class="form-group">
    <label for="tel">Telefono</label>
    <input type="number" class="form-control" id="tel" name="tel"
           [(ngModel)]="contact.tel" required>
  </div>

  <div class="form-group">
    <label for="mail">Mail</label>
    <input type="email" class="form-control" id="mail" name="mail"
           [(ngModel)]="contact.mail">
  </div>

  <button class="btn btn-success save" [disabled]="!f.form.valid">Submit</button>

</form>
<a class="btn btn-default go-back" (click)="goBack()">Annulla</a>

